.container{
   background-color: plum;
   border: 4px solid black;
   padding-left: 350px;
   margin-top: 150px;
   padding-bottom:100px;
   margin-left: 200px;
   margin-right: 275px;
}
.card-body{
 font-size: 25px;
}
.btn{
  height: 50px;
  width: 130px;
  }
  .btn-success{
    background-color: mistyrose;
    border-style: dashed;
  }
  .btn-danger{
    background-color: mistyrose;
    
  }
.form-control{
  height: 35px;
  width: 250px;
}